html,
body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
  background: linear-gradient(to right, #0173C1, #FFAACE);
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.jumbo-display {
  background-color: #212529;
}

.landing {
  background-size: cover;
  background-position: left;
}

.section {
  background-color: #F8F9FA;
}

.video-player {
  max-height: 315px;
  max-width: 560px;
}

.map {
  max-height: 450px;
  max-width: 600px;
}

.carousel {
  max-width: 500px;
}

.border-stroke {
  border-style: solid;
  border-width: 2px;
  border-color: #003983;
}

.display-text {
  font-size: 30pt;
  font-weight: 900;
  word-break: break-word;
}

.title-text {
  font-size: 20pt;
  font-weight: 600;
}

.caption-text {
  font-size: 12pt;
  font-weight: 300;
}

.highlight {
  color: #EE489A
}

.glow-text {
  text-shadow: 0 0 5px #212529;
}

.dropdown-menu {
  max-height: 80vh;
  overflow-y: auto;
}
.sheet-schedule {
  height: 80vh;
}

.sheet-constraint {
  max-height: 685px;
  max-width: 1440px;
}

.prize-image {
  width: 100%;
  height: 100%;
}
