$link-color: #EE489A;
$font-family-sans-serif: Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
@import "node_modules/bootstrap/scss/bootstrap";